{% block style %} <link rel="stylesheet" href="/style/header.css">{% endblock %}

{% block workers_header %}
 <div id="banner">
   <div id='appTitle_container'>
     <h1 id="appName">WORKERS</h1>
     <p>-your team lister-</p>
   </div>
 </div>
{% endblock %}